body {
  background: #000;;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "contenido"
    "pie";
  font-family: "Franklin Gothic Medium", sans-serif;
  align-self: flex-start;
}
img {
  width: 960px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-areas: "header";
  align-self: center;
  margin: 0px auto;
  width: 960px auto;
  top: 10px auto;
  bottom: 0px auto;
  left: 0px auto;
  right: 0px auto;
  height: 115px;
}

a {
  position: relative;
  text-decoration: none;
}
ul {
  display: flex;
  width: 670px;
  margin-top:87px;
}

p {
  display: grid;
  color:white;
  text-align: justify;
  min-width: 50ch;
  max-width: 75ch;
  margin: 0px auto;
  line-height: 1.5em;
  word-spacing: 0.16em;
  letter-spacing: 0.12em;
}
#menu {
  grid-area: menu;
  display: flex;
  margin: 0px auto;
  height: 35px;
  text-align: center;
  align-items: center;
  position:sticky;
  top: 0;
}
#portada{
  grid-area: contenido;
  display: grid;
  margin: 0px auto;
  padding: 0px;
  margin-bottom: 0px;
  width: 960px;
  margin-top: 150px;
}

#contenido {
  grid-area: contenido;
  display: grid;
  margin: 0px auto;
  padding: 10px;
  color: #ffffff;
  border: 1px solid #fac53f;
  background-color: rgb(0, 0, 0);
  width: 960px;
  height: auto;
  margin-top: 0px;
}
#pie {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

ul,
ol {
  list-style-type: none;
  background-color:#000000;
  border: 1px solid #fac53f;
  position:sticky;
}
input {
  margin: 55px;
}

#menu li a{
  grid-area: menu;
  background-color:#000000;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  height: 15px;
  align-items: center;
  left: 180px;
  text-align: center;
}

#menu li a:hover {
  border: 1px solid;
  border-color: #fac53f;
  
}
#menu > li {
  float: left;
}
#menu li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
#menu li:hover > ul {
  display: block;
}
#menu li ul li {
  position: relative;
}
#menu li ul li ul {
  right: -140px;
  top: 0px;
}
#galeria {
  display:grid;
  text-align:center;
  font-size: 10px;
  margin-left:0px auto ;
  vertical-align:auto;
  
}
.galeria-item{
  display:grid;
  bottom: 10px;
  margin: 10px;
  color:#ffffff;
}

iframe{
  margin-top: 250px;
  padding-top: 0px;
  top:0px;
  height:860px;
}
